html, body {
  padding: 0;
  margin: 0;
  background-color: antiquewhite;
}

.wrapper {
  height: 100vh;
}

#header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 10px;
  background: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 10px;
  background: white;
}

.main {
  display: flex;
  height: calc(100vh - 106px);
  margin-top: 60px;  
  margin-bottom: 60px;
}
.main .sidebar {
  width: 250px;
  background: #f2d9c7;
  padding: 20px;
  box-sizing: border-box;
  overflow-y: auto;
  border-right: 2px solid #ddd;
}

.main .content {
  flex: 1;
  background: #fff5e6;
  padding: 20px;
  box-sizing: border-box;
  overflow-y: auto;
}